@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700|Fira+Sans);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700|Fira+Sans|Nunito:700);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,700|Fira+Sans|Nunito:700|Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,800);
.header{
	float: none;
}
.right_fix{
	float: right;
}
.fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 3px;
}
.containerfluid{
	width: 100%;
}
.column_pad {
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
}
#red_login{
	color: #ff0000;
	font-size: 14px;
	font-weight: bold;
}
.filtersubmit {
position: relative;
left: 337px;
z-index: 1;
font-size: 17px;
top: 50px;
color: #7B7B7B;
width: 56px;
}

p {
	margin: 0 0 10px;
	line-height: 2;
	padding: 30px;
}
.empty_row{
	padding-bottom: 40px;
}
.left_services a {
	color: #A6ABB0;
	text-decoration: none;
}
.left_servicesl a {
	padding-top: 10px;
	padding-bottom: 15px;
	color: #A6ABB0;
	text-decoration: none;
}
.center_hedding h1{
	text-align: center;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 30px;
	font-size: 40px;
}
.redportion {
	background-color: #EC4242;
	position: relative;
	border-radius: 40px;
	padding: 38px;
}
.redportion2 {
	background-color: #EC4242;
	position: relative;
	border-radius: 40px;
	padding: 37px;
	border-radius: 55px;
}
.cart_block{
	background-color: #F4F4FA;
	text-align: center;
	padding: 110px 165px;
}
p {
margin: 0 0 10px;
line-height: 2;
padding: 13px;
}
.row h4{
	text-align: center;
	padding: 30px;
	color: #626264;
}
.fb_button{
	width: 80%;
	text-align: center;
	float: right;
	line-height: 42px;
	font-size: 16px;
	font-weight: lighter;
	border-radius: 6px;
	color: #fff;
	background: #4C46B6;
}
#fb_background {
	background-color: rgba(43, 43, 144, 0.75);
	width: 30;
	height: 30;
	border-radius: 16%;
	padding-top: 8px;
	margin-right: 0px;
}
.gmail_button{
	width: 80%;
	float: left;
	text-align: center;
	line-height: 42px;
	font-size: 16px;
	font-weight: lighter;
	border-radius: 6px;
	color: #fff;
	background: #ED3232;
}
#gmail_background {
	background-color: #DA1313;
	width: 30;
	height: 30;
	border-radius: 20%;
	padding-top: 8px;
	margin-right: 20px;
}
#two{
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
#three{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	padding-left: 4px;
}
.form_login{
	background-color: #ffffff;
	text-align: center;
}
.circles{
	margin-bottom: -100px;
	padding-left: 212px;
}
.circle_position_two_three {
	width: 80px;
	height: 80px;
	padding-left: 29px;
	padding-top: 20px;
	text-align: center;
	float: left;
	border-radius: 50px;
}
.circle_position {
	width: 80;
	height: 80;
	padding-left: 19px;
	padding-top: 21px;
	text-align: center;
	float: left;
	border-radius: 50px;
}
.containers {
width: 1079px;
}

.navbar{
	background-color: #DADAE7;
	width: 100%;
	
}
.rightfloat{
	float: right;
	padding: 0px;
}
.hr  {
	margin-top: 0px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #1F0;
}
.landing-section {
	padding-top: 40px;
	padding-bottom: 25px;
	background-color: #EEEEF2;
}
.padd_button{
	padding-top: 15px;
}
.dropdown{
	float: right;
	font-weight: normal;
}
.nav2right{
	color:red;
	font-weight: bold;
}
.nav1left a{
	float: left;
	padding: 10px;
	color: #000;
}
.black{
	color: #000;
}
.content{
	padding: 0px;
}
.logo {
	float: left;
	padding-bottom: 10px;
	padding-left: 20px;
}
.pull-right {
	float: right;
}
.links_pulllefta a{
	color: #000;
	float: left;
	font-size: 14px;
	padding: 25px;
}
.links_pullleft a{
	color: #a3a3c2;
	float: left;
	font-size: 14px;
	padding: 25px;
	font-weight: bolder;
}
.links_pullright{
	color: #000;
	float: right;
	font-size: 16px;
	font-weight: bolder;
	font-family: 'Dosis', sans-serif;
	padding-top: 10px;
}
.links_pullright a{
	color: #000;
	float: left;
	font-size: 16px;
	padding: 25px;
	font-weight: bolder;
}
.nav3{
	float: left;
	color: black;
	font-size: 12px;
	background-color: #DADAE7;
}
.header2{
	background-color: #fff;
}
.login_form{
	background-color: #eede7d;
}
.no_padding {
	background-color: #f5f5f9;
	padding: 80 60;
}
.drop_query {
	width: 100%;
	margin-top: -50px;
	margin-bottom: 210px;
}
.drop_head {
	color: #515457;
	font-size: 28px;
	font-weight: lighter;
	margin-bottom: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}
.drop_form {
	border-radius: 0;
	height: 50px;
}
.drop_send {
	float: left;
	padding: 10px 35px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 6px;
	color: #fff;
	background: #D0D0D3;
}
.drop_send2 {
	float: left;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	color: #998D8D;
}
.label_red{
	color: #3D3A3A;
	position: relative;
	padding-top: 90px;
	font-weight: bold;
	padding-left: 10px;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
}
.label_red2{
	color: #3D3A3A;
	position: relative;
	padding-top: 90px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
}
.label_red3{
	color: #3D3A3A;
	position: relative;
	padding-top: 90px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
}
.drop_name {
	color: #445869;
}
.grey_circle {
	background-color: #f4f4fa;
	position: relative;
	text-align: center;
	border-radius: 25px;
	padding: 8px;
	height: 40px;
	width: 40px;
	margin-bottom: -19px;
	margin-left: -22px;
}
.filtersubmit {
	left: 337px;
	z-index: 1;
	font-size: 17px;
	top: 63px;
	color: #7B7B7B;
}
.label_grey3{
	color: #000;
	position: relative;
	padding-top: 80px;
	font-weight: bold;
	padding-left: 10px;
}
.bolded_head {
	font-weight: bold;
	font-size: 30px;
	color: #4A4A4A;
	font-family: 'Dosis', sans-serif;
}
.red_head {
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #E84444;
	font-family: 'Dosis', sans-serif;
}
.footer1{
	background-color: #2d2d33;
	padding: 20px;
}
.footer_text {
	font-size: 16px;
	padding-top: 35px;
	text-align: center;
	width: 100%;
	color: #e6e6e6;
	font-weight: bold;
	padding-bottom: 30px;
}
.footer_textone {
	font-size: 16px;
	color: #e6e6e6;
	font-weight: bold;
}
.footer_images{
	float: left;
	width: 20%;
	text-align: center;
	padding-left: 35px;
}
.fa-4x {
	font-size: 4em;
	color: #fff;
}
.fa-2x{
	font-size: 3em;
	color: #fff;
	padding-top: 0px;
}
header, section, article, footer, .header_top, .header_bottom {
    float: left;
    width: 100%;
    background-color: #EEEEF2;
	border-bottom: 1px solid rgb(224, 220, 220);
}
.header_bottom .navigation_bottom {
    float: left;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header_bottom .navigation_bottom li {
    float: left;
    background-color: #EDEDEC;
}
.header_bottom .navigation_bottom li a {
    text-decoration: none;
    color: #767668;
    display: block;
    font-size: 14px;
    padding: 17px 15px; 
}
.header_bottom .navigation_bottom li a:hover {
    background: #EEEEF2;
}
.header_bottom .navigation_bottom li a.active {
    background: #EEEEF2;
}
.footer_text4 {
	font-size: 15px;
	float: left;
	width: 20%;
	color: #e6e6e6;
	font-weight: bold;
	text-align: center;
	line-height: 4;
}
.footer_end1{
	background-color: #353535;
}
.button_downloadbroucher{
	width: 56%;
	float: right;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	font-weight: lighter;
	border-radius: 6px;
	color: #fff;
	background: #E84444;
}
.social_circles{
	float: left;
	color: #ffffff;
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	border: 3px solid #ffffff;
	padding-top: 3px;
	margin-left: 5px;
	margin-right: 30px;
}
.social_medias{
	float: left;
}
.borderpix{
	padding: 10px;
	border-bottom: 1px solid;
	color: #7e7e80;
}
.search_portion {
	float: right;
	border-radius: 6px;
	color: #fff;
	background: #f06464;
	width: 40px;
	height: 40px;
	padding: 11px;
}
.navbar-nav_search {
	float: left;
	margin: 0;
	margin-top: -10px;
}
.left_services{
	padding-bottom: 15px;
	padding-top: 10px;
	color: #fff;
	font-size: 16px;
	list-style-type: none;
	border-bottom:dashed 1px #736B6B;
}
.footer_end2{
	background-color: #2b2b2b;
	color: #b2b2b2;
	padding-top: 10px;
}
.mainfooter{
	background-color: #272626;
}
.logo_footer{
	color: #a1a1a1;
	font-size: 25px;
	font-weight: bold;
	float: left;
	font-family: 'Dosis', sans-serif;
	padding-top: 5px;
}
.copy {
    float: right;
    margin-top: -100px;
	padding-top: 112px;
	color: #a1a1a1;
}
#logo_knowledgehut{
	padding-left: 30px;
}
footer {
	color: #fff;
	background: #252222;
	color: #fff;
	padding-top: 10px;
}
.rights_reserved{
	float: right;
	color: #a1a1a1;
	padding-top: 10px;
}
.a {
	color: #B4B7BA;
	text-decoration: none;
}
.dotted_line1 {
	color: #b2b2b2;
	border-bottom: 1px dashed;
	padding: 20px;
	width: 80%;
	float: right;
}
.dotted_line2 {
	color: #b2b2b2;
	border-bottom: 1px dashed;
	padding: 20px;
	width: 80%;
	float: left;
}
.gray_circle{
	color: #e2e2eb;
	position: relative;
	border-radius: 40px;
}
#filtersubmit {
position: relative;
z-index: 1;
float: left;
top: -33px;
color: #7B7B7B;
cursor: pointer;
width: 42px;
}
.form-control {
display: block;
width: 100%;
height: 45px;
padding: 10px 35px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#headfb
{
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
	padding-top: 50px;
	padding-bottom: 35px;
}
.paddfoot{
padding-top: 45px;
}
